[push]
    default = simple
[color]
    ui = auto
[color "branch"]
    current = green
    local = white
    remote = cyan
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
[color "status"]
    added = green
    changed = yellow
    untracked = red
[alias]
    b = branch
    bn = branch -n
    #############
    c = commit
    cm = commit -m
    #############
    ls = ls-files
    lsf = "!git ls-files | grep -i"
    #############
    o = checkout
    ob = checkout -b
    #############
    ps = push
    pso = push origin
    #############
    pl = pull
    plu = pull -u
    plo = pull origin
    plp = pull upstream
    plom = pull origin master
    plpm = pull upstream master
    #############
    r = remote
    ra = remote add
    rv = remote -v
    rao = remote add origin
    rau = remote add upstream
    rsu = remote show upstream
    #############
    s = status
    sb = status -s -b
    #############
